sudo: false

cache:
  directories:
    - $HOME/.stack

before_install:
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  - stack config set system-ghc --global true
  - export PATH=/opt/ghc/8.0.2/bin:$PATH

addons:
  apt:
    sources:
      - hvr-ghc
    packages:
      - ghc-8.0.2

script:
  - stack build
  - stack install
  - stack test
